@font-face {
	src: url('./fonts/AvenirNextCyr-Regular.ttf');
	font-family: AvenirNext;
	font-weight: 400;
}

@font-face {
	src: url('./fonts/ProximaNova-Reg.otf');
	font-family: ProximaNova;
	font-weight: 400;
}

@font-face {
	src: url('./fonts/ProximaNova-Reg.otf');
	font-family: ProximaNova;
	font-weight: 500;
}

@font-face {
	src: url('./fonts/ProximaNova-Semibold.ttf');
	font-family: ProximaNova;
	font-weight: 600;	
}

@font-face {
	src: url('./fonts/OpenSans-Regular.ttf');
	font-family: OpenSans;
	font-weight: 400;
}

@font-face {
	src: url('./fonts/OpenSans-Bold.ttf');
	font-weight: 700;
}

@font-face {
	src: url('./fonts/OpenSans-Light.ttf');
	font-family: OpenSans;
	font-weight: 100;
}

@font-face {
	src: url('./fonts/Montserrat-Regular.ttf');
	font-family: Montserrat;
}

.header {
	display: flex;
    justify-content: space-between;
    padding: 39px 52px;
}

.background-image {
	background-image: url('images/background.jpg');
	height: 900px;
	background-repeat: no-repeat;
	background-size: cover;
}

.menu {
	display: flex;
	width: 506px;
	list-style: none;
	justify-content: space-between;
	font-family: AvenirNext, sans-serif;
	font-weight: 400;
	padding: 20px 20px 0px 0px;
}


.menu-item {
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;
}

.menu-link {
	color: #ffffff;
	text-decoration: none;
}

.menu-link:hover {
	animation: MenuAnimation 1s; 
}

.title {
	color: #ffffff;
	font-size: 40px;
	text-transform: uppercase;
	font-family: AvenirNext, sans-serif;
	font-weight: 400;
	margin: 559px 0 0 114px;
}

.title-green {
	color: #a2ca28;
}

.title-red {
	color: #fd634e;
}

.subtitle {
	color: #ffffff;
	font-size: 15px;
	text-transform: uppercase;
	font-family: OpenSans, sans-serif;
	font-weight: 700;
	margin: 7px 0 0px 279px;
	letter-spacing: 3px;
}

.main-page {
	background: #a2ca28;
}

.benefits {
	display: flex;
	list-style: none;
	justify-content: space-between;
	padding: 80px 80px 100px 60px;
	width: 1180px;
	margin: 0 auto;
}

.benefits-item {
	width: 25%;
	max-width: 260px;
    margin: 14px 14px;
    line-height: 1.65;
}

.benefits-subtitle {
	color: #ffffff;
	font-size: 24px;
	font-family: OpenSans, sans-serif;
	font-weight: 400;
	margin: 0px 0px 18px 0px;
}

.benefits-text {
	color: #ffffff;
	font-family: ProximaNova, sans-serif;
	font-size: 14px;
	height: 111px; 
}

.benefits-image-container {
	height: 52px;
	margin: 0 0 0px 3px;
}

.benefits-link {
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
	font-family: OpenSans, sans-serif;
	font-weight: 400;
}

.info {
	display: flex;
	width: 1180px;
	height: 394px;
	margin: 0 auto;
}

.block {
	background: #ffffff;
	text-align: center;
	align-content: center;
	padding: 30px 30px;
}

.block-subtitle {
	color: #fd634e;
	font-size: 14px;
	font-family: Montserrat, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	margin: 23px 0px 0px 3px;
}

.block-title {
	color: #a2ca28;
	font-size: 35px;
	font-family: OpenSans, sans-serif;
	font-weight: 100;
	text-transform: uppercase;
	margin: 8px 0px 21px 2px;
}

.block-text {
	color: #656e74;
	font-size: 14px;
	font-family: OpenSans, sans-serif;
	font-weight: 400;
    margin: 16px 8px 5px 3px;
    padding: 0px 15px 0px 15px;
    line-height: 1.9;
}

.block-link {
	color: #a2ca28;
	font-size: 14px;
	font-family: OpenSans, sans-serif;
	font-weight: 400;
}

.hover {
	position: relative;
}

.hover:before {
	content: '';
	opacity: 0;
	background: rgba(0, 0, 0, 50%);
	width: 780px;
	height: 394px;
	position: absolute;
	transition: all 2s;
}

.text-hover {
	position: absolute;
	width: 100%;
	top: 50%;
	text-align: center;
	margin-top: -69px;
	opacity: 0;
	transition: all 2s;
}

.hover:hover .text-hover{
	opacity: 1;
}

.hover:hover:before{
	opacity: 1;
}

.footer {
	background: #0d1119;
}

.footer-container {
	width: 1180px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 65px 0px 35px 58px;
	box-sizing: border-box;
}

.contacts {
	display: flex;
	background: #0d1119;
	padding: 40px 0 20px 0;
	width: 1180px;
	margin: 0 auto;
}

.social-nets {
	display: flex;
	background: #0d1119;
	width: 240px;
	list-style: none;
	justify-content: space-between;
}

.icon {
	height: 50px;
	width: 50px;
	background: red;
	border-radius: 50%;
	position: relative;
}

.icon:before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	text-align: center;
}

.icon-fb {
	background: #2e3192;
}

.icon-fb:before {
	background-image: url("images/fb.png");
    width: 12px;
    height: 20px;
    background-size: 12px 20px;
    top: 50%;
    margin-top: -10px;
    left: 50%;
    margin-left: -6px;
}

.icon-tw {
	background: #00aeef;
}

.icon-tw:before {
	background-image: url("images/tw.png");
    width: 20px;
    height: 15px;
    background-size: 20px 15px;
    top: 50%;
    margin-top: -7px;
    left: 50%;
    margin-left: -10px;
}

.icon-yt {
	background: #ed3123;
}

.icon-yt:before {
	background-image: url("images/yt.png");
	width: 20px;
    height: 16px;
    background-size: 20px 16px;
    top: 50%;
    margin-top: -8px;
    left: 50%;
    margin-left: -10px;
}

.icon-ln {
	background: #171a8f;
}

.icon-ln:before {
	background-image: url("images/ln.png");
	width: 19px;
    height: 20px;
    background-size: 19px 20px;
    top: 50%;
    margin-top: -11px;
    left: 50%;
    margin-left: -8px;
}

.input {
	font-family: ProximaNova, sans-serif;
	font-size: 14px;
	font-weight: 400;
    padding: 17px 50px 15px 32px;
    border: 2px;
	border-style: solid;
	border-color: #0d1119;
	border-radius: 6px;
}

.button {
	background-color: #a2ca28;
	font-family: ProximaNova, sans-serif;
	font-size: 15px;
	font-weight: 500;
	color: #ffffff;
	border: 2px;
	border-style: solid;
	border-radius: 6px;
	border-color: #0d1119;
	padding: 18px 45px 17px 30px;
}

@keyframes MenuAnimation {
  0%, 100% {
    color: #ffffff;
 }
  50% {
    color: #000000;
    background-position: 0 -0.1em;
    background-image: linear-gradient(to right, #ffffff 0, #a2ca28 100%);
  }
}